
.background {
  width: 100%;
  height: 150%;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('../../assets/home.jpg');
  -webkit-background-size: cover;
  -moz-background-size:  cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  text-align: center;
}
mat-sidenav {
  width: 230px;
  padding:15px;
}
.mat-drawer {
  background-color: #023075;
  color:#fff
}
.main-content {
  padding:20px;
}
.toolbar-spacer {
  flex: 1 1 auto;
}
