
<mat-sidenav-container fullscreen>
  <mat-sidenav style="color:black; background-color: lightgray" mode="side" #sidenav opened position="start">
    <mat-nav-list>
      <h1 matSubheader>My Account</h1>
      <a *ngIf="typeOfUser==='guest'||'owner' " mat-list-item
         routerLinkActive="list-item-active"
         [routerLink]="" >
        Info
        <mat-icon matListIcon> info</mat-icon>
      </a>
      <a *ngIf="typeOfUser==='owner'" mat-list-item
         routerLinkActive="list-item-active"
         [routerLink]="['companies/']" [queryParams]="{owned: 'true'}">
        Owned Companies
        <mat-icon matListIcon> list</mat-icon>
      </a>
      <a *ngIf="typeOfUser==='owner'" mat-list-item
         routerLinkActive = "list-item-active"
         [routerLink]="['companies/']" [queryParams]="{owned: 'false'}">
        Other Companies
        <mat-icon matListIcon> list</mat-icon>
      </a>
      <a *ngIf="typeOfUser==='owner'" mat-list-item
         routerLinkActive="list-item-active"
         [routerLink]="['reservations/']" >
        Reservations
        <mat-icon matListIcon> unarchive</mat-icon>
      </a>
      <a *ngIf="typeOfUser==='guest'" mat-list-item
         routerLinkActive="list-item-active"
         [routerLink]="['companies/']" [queryParams]="{owned: 'false'}" >
        Places to visit
        <mat-icon matListIcon> free_breakfast</mat-icon>
      </a>
      <a *ngIf="typeOfUser==='guest'" mat-list-item
         routerLinkActive="list-item-active"
         [routerLink]="['reservations/']" >
        Your Reservations
        <mat-icon matListIcon>more</mat-icon>
      </a>
      <a *ngIf="typeOfUser==='guest'" mat-list-item
         routerLinkActive="list-item-active"
         [routerLink]="['notes/']" >
        Rate Companies
        <mat-icon matListIcon>rate_review</mat-icon>
      </a>
      <mat-divider></mat-divider>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="background-color: lightgray">
      <button class="btn" mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      Reservations online
      <span class="toolbar-spacer"></span>
      <span>
        <button *ngIf="loggedInUser === null" class="btn btn" (click)="onLogin()" style="text-align: center">Login<mat-icon></mat-icon></button>
        <button *ngIf="loggedInUser !== null" class="btn btn-block" (click)="onLogout()" style="text-align: center">Logout<mat-icon></mat-icon></button>
        <button *ngIf="loggedInUser === null" class="btn btn" [routerLink]="['register/']" style="text-align: center">Register</button>
      </span>
    </mat-toolbar>
    <div class="main-content background">
        <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
