<mat-card>
  <mat-card-title>
    Create Your New Best Property
  </mat-card-title>
  <mat-card-content>
    <mat-form-field>
      <input matInput placeholder="Comapny Name" [(ngModel)]="company.name">
      <mat-icon matSuffix>restaurant</mat-icon>
    </mat-form-field>
    <br/>
    <mat-form-field>
      <input matInput placeholder="Location" [(ngModel)]="company.address">
    </mat-form-field>

    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-2">
        <mat-form-field>
          <mat-select  placeholder="Select Company Type" [(ngModel)]="company.companyTypeId">
            <mat-option *ngFor="let type of companyTypes" [value]="type.id">{{type.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <mat-form-field>
          <mat-select  placeholder="Select Company Place" [(ngModel)]="company.placeId">
            <mat-option *ngFor="let place of companyPlaces" [value]="place.id">{{place.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <mat-form-field>
      <input matInput type="number" placeholder="Please enter company capacity" [(ngModel)]="company.capacity">
    </mat-form-field>
    <br/>
    <mat-form-field>
      <input matInput type="text" placeholder="Working Day Mask" [(ngModel)]="company.workingDaysMask">
    </mat-form-field>
    <br/>
    <mat-form-field>
      <input matInput type="text" placeholder="Company image url" [(ngModel)]="imgUrl" (paste)="comapnyImageUrl(imgUrl)" >
    </mat-form-field>
    <br/>
  </mat-card-content>
  <mat-card-actions>
    <div class="button-flex-container">
      <button mat-raised-button (click)="createCompany()" class="btn btn-dark">Create Company</button>
    </div>
  </mat-card-actions>
</mat-card>
