<mat-card *ngIf="user.type==='owner'">
  <mat-card-title>Reservations made for a specific company!</mat-card-title>
  <mat-card-content>
    <div class="row">
      <div class="col-md-4"> </div>
      <div class="col-md-4">
        <div class="row" style=" margin-left:55px; align-content: center">
          <mat-form-field>
            <mat-label>Select an option</mat-label>
            <mat-select [(ngModel)]="selectedCompany">
              <mat-option (click)="getAllReservationsForRestoraunt(company.id)" *ngFor="let company of companies" [value]="company">{{company.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-4"> </div>
    </div>

    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4" *ngIf="reservations.length <= 0 && !selectedCompany">
        <p class="alert-warning"> No reservations yet.</p>
      </div>
      <div  class="col-md-4"></div>
    </div>

    <div class="row" *ngIf="reservations.length > 0">
      <div class="col-md-12">
        <mat-accordion>
          <mat-expansion-panel *ngFor="let reservation of reservations">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Reservation made for:
                {{reservation.forDate}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="row">
              <div class="col-md-3" >
                <p matLine>Person count: {{reservation.personCount}} </p>
              </div>
              <div  class="col-md-2">
                <p matLine>
                  and the remark is:
                  <span> {{reservation.remark}} </span>
                </p>
              </div>
              <div class="col-md-6"></div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="user.type==='guest' && !reserveMatCard">
  <mat-card-title>Reservations you made recently!
    <button (click)="reserve()" class="btn btn-block badge-dark" style="float: right"> Reserve Now!</button>
  </mat-card-title>
  <mat-card-content>
    <div class="row" *ngIf="reservations.length > 0">
      <div class="col-md-12">
        <mat-accordion>
          <mat-expansion-panel *ngFor="let reservation of reservations">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Reservation made for:
                {{reservation.forDate}}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="row">
              <div *ngIf="message" class="col-md-12 badge-warning">{{message}}</div>
              <div class="col-md-3" >
                <p matLine>Number of people attending: {{reservation.personCount}}</p>
              </div>
              <div class="col-md-3" >
                <p matLine>Reservation at:  {{reservation.companyName}} - ({{reservation.companyAddress}})</p>
              </div>
              <div  class="col-md-2">
                <p matLine>
                  and the remark is:
                  <span>{{reservation.remark}} </span>
                </p>
              </div>
              <div class="col-md-4">
                <button  class="mat-button" *ngIf="!reservationToBeEdited" (click)="editReservation()">Edit <mat-icon>edit</mat-icon></button>
                <button  class="mat-button" *ngIf="!reservationToBeEdited" (click)="deleteReservation(reservation)">Delete<mat-icon>bin</mat-icon></button>
              </div>
            </div>
            <div class="row" *ngIf="reservationToBeEdited">
              <div class="example-container">
                <mat-form-field appearance="fill">
                  <mat-label>Reservation for</mat-label>
                  <input [(ngModel)]="reservation.forDate" placeholder="Please ednter the reservation date" matInput>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                  <mat-label>Number of people</mat-label>
                  <input type="number" [(ngModel)]="reservation.personCount" placeholder="Please ednter the reservation date" matInput>
                </mat-form-field>
                <br>
                <button class="btn-dark"(click)="edit(reservation)"> Submit changes!</button>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card *ngIf="user.type==='guest' && reserveMatCard">
  <mat-card-title>Reserve for the near future and have a great time!
  </mat-card-title>
  <mat-card-content>
    <div class="example-container">
      <mat-form-field>
        <mat-label>Choose a date</mat-label>
        <input matInput [(ngModel)]="newReservation.forDate" [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Select a place to go</mat-label>
        <mat-select [(ngModel)]=" newReservation.companyId">
          <mat-option *ngFor="let company of companies" [value]="company.id">{{company.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
      <mat-label>Number of people</mat-label>
      <input type="number" [(ngModel)]="newReservation.personCount" matInput>
    </mat-form-field>
      <br>
      <mat-form-field appearance="fill">
        <mat-label>Please enter a remark</mat-label>
        <input type="text" [(ngModel)]="newReservation.remark" matInput>
      </mat-form-field>
    </div>
    <br>
    <div>
      <button class="btn btn-dark"(click)="submitTheReservation(newReservation)"> Reserve! </button>
    </div>
  </mat-card-content>
</mat-card>
