<mat-card>
  <mat-card-title>
    Login
  </mat-card-title>
  <mat-card-content>
    <div *ngIf="error" class="row alert-warning">
      <p>{{error}}</p>
    </div>
    <mat-form-field>
      <input matInput placeholder="User Name" [(ngModel)]="newUser.email">
      <mat-icon matSuffix>account_circle_outlined</mat-icon>
    </mat-form-field>
    <br/>
    <mat-form-field>
      <input type="password" matInput placeholder="Password" [(ngModel)]="newUser.password"/>
      <mat-icon matSuffix>visibility_off</mat-icon>
    </mat-form-field>
    <br/>
    <mat-form-field>
      <input placeholder="First Name" type="text" matInput [(ngModel)]="newUser.firstName"/>
    </mat-form-field>

    <mat-form-field>
      <input placeholder="Last Name" type="text" matInput [(ngModel)]="newUser.lastName"/>
    </mat-form-field>
    <br>
    <mat-form-field>
    <mat-select [(ngModel)]="newUser.type" placeholder="Select the type of user you are.">
    <mat-option *ngFor="let role of user_roles" [value]="role">{{role}}</mat-option>
    </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Choose a date</mat-label>
      <input matInput [(ngModel)]="newUser.forDate" [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <div class="button-flex-container">
      <button mat-raised-button (click)="register(newUser)" color="primary">Register!</button>
    </div>
  </mat-card-actions>
</mat-card>
