<mat-card>
  <mat-card-title>
    Login
  </mat-card-title>
  <mat-card-content>
    <div class="row" *ngIf="error">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="row alert-danger">
          <p style="margin-left: 5%">{{error}}</p>
        </div>
      </div>
    </div>
    <mat-form-field>
      <input matInput placeholder="User Name" [(ngModel)]="username">
      <mat-icon matSuffix>account_circle_outlined</mat-icon>
    </mat-form-field>
    <br/>
    <mat-form-field>
      <input [type]="hide ? 'password' : 'text'" matInput placeholder="Password" [(ngModel)]="password"/>
      <mat-icon matSuffix *ngIf="hide" (click)="show()">visibility_off</mat-icon>
      <mat-icon matSuffix *ngIf="!hide" (click)="show()">visibility</mat-icon>
    </mat-form-field>
    <br/>
  </mat-card-content>
  <mat-card-actions>
    <div class="button-flex-container">
      <button mat-raised-button (click)="login()" color="primary">Login</button>
    </div>
  </mat-card-actions>
</mat-card>
