
<!--<app-login *ngIf="username === null" (loggedInUser)="theUserIsLoggedIn($event)"></app-login>-->

<app-main-nav *ngIf="username !== null" [typeOfUser]="user.type" >
  <router-outlet></router-outlet>
</app-main-nav>
