<mat-card>
  <mat-card-title>Your Companies
  <button *ngIf="user.type==='owner'" (click)="createNewCompany()" class="btn btn-dark" style="float: right"> Create a new company</button>
  </mat-card-title>
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel *ngFor = "let company of companies">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{company.name}}
          </mat-panel-title>
          <mat-panel-description>
            {{company.address}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="row">
          <div class="col-md-4">
            <img *ngIf="company.images && company.images.length >0" style="width: 150px; height: 100px;" [src]="company.images[0].imageUrl"/>
          </div>
          <div class="col-md-4">
            <h3 matLine> {{company.name}} </h3>
            <p>{{company.description}}</p>
          </div>
          <div  class="col-md-4">
            <p matLine>
              <span> {{company.address}} </span>
            </p>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-content>
</mat-card>
