<mat-card >
  <mat-card-title>Comments and reviews from other users!
  </mat-card-title>
  <mat-card-content>
   <div class="row">
     <div class="col-md-12">
       <mat-accordion>
         <mat-expansion-panel *ngFor="let note of notesFromUsers">
           <mat-expansion-panel-header>
             <mat-panel-title>
               Reservation from user with id:
               {{note.userId}} for company {{note.companyName}}
             </mat-panel-title>
           </mat-expansion-panel-header>
           <div class="row">
             <div class="col-md-5" >
               <p matLine>Subject {{note.subject}}</p>
               <p matLine>Description: {{note.description}}</p>
             </div>
           </div>
         </mat-expansion-panel>
       </mat-accordion>
     </div>
   </div>
  </mat-card-content>
</mat-card>
